{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/chat.css') }}" rel="stylesheet" type="text/css"/><!-- Links page with style sheet -->
<title>Home</title>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message"><!-- Displays any messages flashed in python  -->
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="main-section-chat">

        <div id="message_container"> 
            
            {% for message in data  %}
                {% if message[1] == current_user.id %}
                    {% if 'POST REPORTED!' in message[3] %}
                        <div id="message">
                            <div id="para"><p  style="color: red;">{{message[3]}}</p></div>
                            <div id="img"><img src="{{ userFromAvatar }}" class="w3-card-4"></div>
                        </div>
                    {% else %}
                        <div id="message">
                            <div id="para"><p>{{message[3]}}</p></div>
                            <div id="img"><img src="{{ userFromAvatar }}" class="w3-card-4"></div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if 'POST REPORTED!' in message[3] %} <!-- If a post is reported, styles message accordinly -->
                        <div id="message">
                            <div id="para"><p style="color: red;">{{message[3]}}</p></div>
                            <div id="img"><img src="{{ userToAvatar }}" class="w3-card-4"></div>
                        </div>
                    {% else %}
                        <div id="message">
                            <div id="para"><p>{{message[3]}}</p></div>
                            <div id="img"><img src="{{ userToAvatar }}" class="w3-card-4"></div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
        </div>

        <div id="send-container"><!-- Contains the form for sending message to user -->

            <form method="POST" action="/messaging/{{usertosend}}" id="UploadImageForm">
                <input type="text" id="message-to-send" name="message" class="form-control form-control-lg">
                <input type="submit" value="Send" id="submit" class="btn btn-default" href="messaging/{{usertosend}}">
            </form>

        </div>

    </div>

{% else %}
    <p id="pagenotfound">404</p>
    <p id="pagenotfound2">Page Not Found</p>
{% endif %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
        }
</script>

{% endblock %}

