{% extends 'base.html' %}
{% block head %}
<title>Edit Password For {{targetUser.name}}</title>
<!-- Links page with corrosponding style sheet -->
<link href="{{ url_for('static', filename='styles/editUser.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}

    {% if current_user.is_authenticated %}
        {% include 'navbar.html' %}
        <!-- Display form to the admnin for changing users passwords -->
            <div class="w3-card-4" id="main-section-editUser">
            {% block content %}
                <div class="content-section-editUser"><br>
                    <form method="POST", action="" id="UpdateForm">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4" id="legend-editUser">Edit {{targetUser.name}}'s Password</legend>
                            <div class="form-group">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}<!--Any erros will be caught here, i.e password not long enough-->
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                                {% endif %}
                            </div><br>
                            <div class="form-group">
                                {% if form.confirmPassword.errors %}
                                    {{ form.confirmPassword(class="form-control form-control-lg is-invalid", placeholder="Confirm Password") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirmPassword.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirmPassword(class="form-control form-control-lg", placeholder="Confirm Password") }}
                                {% endif %}
                            </div><br>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-default") }}
                            </div>
                            <div class="form-group">
                                <a class='btn btn-default' id="cancelbtn" href='../users'>Cancel</a>
                            </div>
                            <legend class="border-top pt-3" id="smallPrint"></legend>
                        </fieldset>
                    </form>
                </div>
            </div> 
            {% endblock content %}
    {% else %}
        <p id="pagenotfound">404</p><!-- Message displayed if user not logged in and tries to access this page -->
    {% endif %}

{% endblock %}