{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %} 
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="w3-card-4" id="main-section-login"><br>
        {% block content %}
            <div class="content-section-login">
                <form method="POST", action="" id="LoginForm">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend id="legend-login">Sign In</legend><br>
                        <div class="form-group">
                            {% if form.email.errors %}
                                {{ form.email(class=" is-invalid", placeholder="Email") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="", placeholder="Email") }}
                            {% endif %}
                        </div><br>
                        <div class="form-group">
                            {% if form.password.errors %}
                                {{ form.password(class="is-invalid", placeholder="Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="", placeholder="Password") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-default") }}
                        </div>
                        <legend id="smallPrint-login">Forgot Password? <a href="#">Click Here</a><br>
                                Don't have an account? <a  href="{{ url_for('register') }}">Click Here</a></legend>
                    </fieldset>
                </form>
            </div>
        {% endblock content %}
    </div>
{% endblock %}