{% extends 'base.html' %}

{% block head %}
    <title>{{ current_user.name }}</title>
    <link href="{{ url_for('static', filename='styles/profile.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}e
    <!-- The profile section html code -->
    <div class="profileSection">
        <div class="userInfo">
            <div class="avatar"> 
                <img src={{targetUser.avatar}} alt="avatar" class="w3-circle">
            </div>
            <hr id="line">
            <div class="data">
                <!-- This form is used to display and  update the user's details -->
                <form method="POST" action="../updateProfile/{{targetUser.id}}" id="form">
                    {% if targetUser.rating == 1 or targetUser.rating == 2 %}
                        <input type="text" id="bronze" name="name" value="{{targetUser.name}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="bronze" name="username" value="{{targetUser.username}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="bronze" name="email" value="{{targetUser.email}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="bronze" name="password" placeholder="Enter new Password" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                    {% elif targetUser.rating == 3 or targetUser.rating == 4 %}
                        <input type="text" id="medium" name="name" value="{{targetUser.name}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="medium" name="username" value="{{targetUser.username}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="medium" name="email" value="{{targetUser.email}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="medium" name="password" placeholder="Enter new Password" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                    {% elif targetUser.rating == 5 %}
                        <input type="text" id="max" name="name" value="{{targetUser.name}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="max" name="username" value="{{targetUser.username}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="max" name="email" value="{{targetUser.email}}" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                        <input type="text" id="max" name="password" placeholder="Enter new Password" {% if targetUser.id != current_user.id %} disabled {% endif %}>
                    {% endif %}
                    <input type="submit" value="Update" id="update" class="btn btn-default" {% if targetUser.id != current_user.id %} style="display: none;" {% endif %}>
                </form>
                <!-- Form ends here -->
                <!-- User Rating and colouring-->
                <h1 id="ratingH1"><b>Rating: </b></h1>
                <div class="rating">
                    {% if targetUser.rating == 1 %}
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 2 %}
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 3 %}
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 4 %}
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 5 %}
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    {% endif %}
                </div>
                <!-- User colouring ends here -->
            </div>
            <div class="bio">
                <!-- Update from for the user's bio -->
                <form method="POST" action="../updateBio/{{targetUser.id}}" id="bio-form">
                    <h1><b>About Me</b></h1>
                    <textarea rows=10 cols="200" id="bio-input" name="bio" style="resize: none;" {% if targetUser.id != current_user.id %} disabled {% endif %}>{{ targetUser.bio }}</textarea>
                    <input type="submit" value="Update Bio" id="update-bio" class="btn btn-default" {% if targetUser.id != current_user.id %} style="display: none;" {% endif %}>
                </form> 
                <!-- Update bio form ends here -->
            </div>
        </div>
        <div class="about">
            
        </div>
    </div>


    {% else %}
        <p id="pagenotfound">404</p>
        <p id="pagenotfound2">Page Not Found</p>
    {% endif %}


{% endblock %}