{% extends 'base.html' %}

{% block head %}
    <title>{{ current_user.name }}</title>
    <link href="{{ url_for('static', filename='styles/profile.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="profileSection">
        <div class="userInfo">
            <div class="avatar"> 
                <img src={{targetUser.avatar}} alt="avatar" class="w3-circle">
            </div>
            <hr id="line">
            <div class="data">
                <form method="POST" action="../updateProfile/{{targetUser.id}}" id="form">
                    {% if targetUser.rating == 1 or targetUser.rating == 2 %}
                        <input type="text" id="bronze" name="name" value="{{targetUser.name}}">
                        <input type="text" id="bronze" name="username" value="{{targetUser.username}}">
                        <input type="text" id="bronze" name="email" value="{{targetUser.email}}">
                        <input type="text" id="bronze" name="password" value="{{user_password}}">
                    {% elif targetUser.rating == 3 or targetUser.rating == 4 %}
                        <input type="text" id="medium" name="name" value="{{targetUser.name}}">
                        <input type="text" id="medium" name="username" value="{{targetUser.username}}">
                        <input type="text" id="medium" name="email" value="{{targetUser.email}}">
                        <input type="text" id="medium" name="password" value="{{user_password}}">
                    {% elif targetUser.rating == 5 %}
                        <input type="text" id="max" name="name" value="{{targetUser.name}}">
                        <input type="text" id="max" name="username" value="{{targetUser.username}}">
                        <input type="text" id="max" name="email" value="{{targetUser.email}}">
                        <input type="text" id="max" name="password" value="{{user_password}}">
                    {% endif %}
                    <input type="submit" value="Update" id="update" class="btn btn-default">
                </form>
                <h1 id="ratingH1"><b>Rating: </b></h1>
                <div class="rating">
                    {% if targetUser.rating == 1 %}
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 2 %}
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    <span id="bronze" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 3 %}
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 4 %}
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    <span id="medium" class="material-icons">
                        stars
                    </span>
                    {% elif targetUser.rating == 5 %}
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    <span id="max" class="material-icons">
                        stars
                    </span>
                    {% endif %}
                </div>
            </div>
            <div class="bio">
                <h1><b>About Me</b></h1>
                {% if targetUser.bio %}
                    <p>{{ targetUser.bio }}</p>
                {% endif %}
            </div>
        </div>
        <div class="about">
            
        </div>
    </div>


    {% else %}
        <p id="pagenotfound">404</p>
        <p id="pagenotfound2">Page Not Found</p>
    {% endif %}


{% endblock %}