{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='styles/listPosts.css') }}" rel="stylesheet" type="text/css"/>
<title>Home</title>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="MainDIV">
        {% for row in data %}
            <div class="row justify-content-md-center">
                <div class="col col-md-2">

                </div>
                <div class="col col-lg-6">
                    <div class="card ListPost w3-card-4 post">
                        <div class="card-body SinglePost" id="post_username">
                            <h5 class="card-title">Post By: {{author.username}}</h5>
                            <h5 id="views">Views: {{row[7]}}</h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>{{row[1]}} </b><br>{{row[3]}}</li>
                            <li class="list-group-item">{{row[2]}}</li>
                            <li id="buttons"><a class='btn btn-default w3-card-4' id='visibility' href='viewPost/{{row[0]}}'><i class='material-icons'>visibility</i></a><a class='btn btn-default w3-card-4' id='report' href='ReportPost/{{row[0]}}'><i class='material-icons'>flag</i></a>
                                {% if (current_user.username ==  author.username) or current_user.username == 'Administrator' or current_user.username == 'Administrator Manager' %}
                                <a class='btn btn-default w3-card-4' id='delete1' href='delete/{{row[0]}}'><i class='material-icons'>delete</i></a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card ListPost w3-card-4" id="img">
                        <div class="card-body SinglePostImg">
                        <img class="card-img-top" src="{{row[6]}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="col col-lg">
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p id="pagenotfound">404</p>
    <p id="pagenotfound2">Page Not Found</p>
{% endif %}

{% endblock %}

