{% extends 'base.html' %}

{% block head %}
<title>View Post</title>
<link href="{{ url_for('static', filename='styles/test.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{% include 'navbar.html' %}
        <div>
            <form method="POST" action="/uploadImg/{{}}" enctype="multipart/form-data" id="UploadImageForm">
                <input type="file" name="imageFile" id="imageFile" placeholder="Choose an Image">
                <input type="submit" value="Upload Image" id="submitImg">
            </form>
        </div> 
{% endblock %}


