{% extends 'base.html' %} 

{% block head %}
<title>Users</title>
<link href="{{ url_for('static', filename='styles/users.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
        {% include 'navbar.html' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" id="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            {% block content %}
                <table id="tblUsers" class="w3-table w3-card-4 w3-centered">
                    <thead>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        {% if current_user.role == 'Administrator Manager' or current_user.role == 'Administrator' %}
                        <th>Password</th>
                        <th>Role</th>
                        {% endif %}
                        <th>Avatar</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for user in data %}
                                <tr>
                                    <td>{{ user[0] }}</td>
                                    <td>{{ user[1] }}</td>
                                    <td>{{ user[2] }}</td>
                                    <td>{{ user[3] }}</td>
                                    {% if current_user.role == 'Administrator Manager' or current_user.role == 'Administrator' %}
                                    <td>{{ user[4] }}</td>
                                    <td>{{ user[5] }}</td>
                                    {% endif %}
                                    <td><img id="image" src="{{ user[6] }}" class="w3-circle"></td>
                                    {% if current_user.role == 'Administrator Manager' or current_user.role == 'Administrator' %}
                                        <td><a id="material-fix" href="editUser" class='table-button button4' ><i class='material-icons'>edit</i></a>
                                            <a id="material-fix" class='table-button button1'  href="messaging/{{ user[0] }}"><i class='material-icons'>chat_bubble</i></a>
                                            <a id="material-fix" class='table-button button2'  href="profile/{{ user[0] }}"><i class='material-icons'>visibility</i></a>
                                            <a id="material-fix" class='table-button button3'  href="deleteUser/{{ user[0] }}"><i class='material-icons'>delete</i></a></td>
                                    {% else %}
                                        <td><a id="material-fix" class='table-button button1'  href="messaging/{{ user[0] }}"><i class='material-icons'>chat_bubble</i></a>
                                            <a id="material-fix" class='table-button button2'  href="profile/{{ user[0] }}"><i class='material-icons'>visibility</i></a></td>
                                    {% endif %}

                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock content %}
        {% else %}
        <p id="pagenotfound">404</p>
        <p id="pagenotfound2">Page Not Found</p>
        {% endif %}

        <script>
            $("#tblUsers").on('click','#edit',function(){
            var currentRow = $(this).closest('tr');
            var col0 = currentRow.find("td:eq(0)").text();
            sessionStorage.setItem("col0", col0)
            });
            function displayYesNo(){
                document.getElementById('sectYesNo').style.display='block';
                document.getElementById('userIDtoDelete').style.display='none';
            }
        </script>

{% endblock %}