{% extends 'base.html' %}

{% block head %}
<title>View Post</title>
<link href="{{ url_for('static', filename='styles/view&editPost.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="test">

        <div class="mySlides">
            <img id="postImg"
                src="{{targetPost.displayImg}}"
                style="display: block;">
        </div>

        <div class="card ListPost w3-card-4 post">
            <div class="card-body SinglePost" id="post_username">
                <h5 class="card-title">Post By: {{targetPost.author.username}}</h5>
            </div>
            <ul class="list-group list-group-flush" id="post_content">
                <li class="list-group-item" id="cardTitle"><b>{{targetPost.title}}</b><br>{{targetPost.date.date()}}</li>
                <li class="list-group-item" id="cardDescription" >{{targetPost.description}}</li>
            </ul>
        </div>
    </div>
        <div class="row">
            {% for row in postImages %}
                <div class="clmn" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="imagesSize" src="../static/uploads/images/{{row.name}}">
                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              {% if postImages[0] %}
                              <div class="carousel-item active">
                                <img src="../static/uploads/images/{{postImages[0].name}}" class="d-block w-100" alt="...">
                              </div>
                              {% else %}
                              <div class="carousel-item active">
                                <img src="" class="d-block w-100" alt="...">
                              </div>
                              {% endif %}
                              {% if postImages[1] %}
                              <div class="carousel-item">
                                <img src="../static/uploads/images/{{postImages[1].name}}" class="d-block w-100" alt="...">
                              </div>
                              {% else %}
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="...">
                              </div>
                              {% endif %}
                              {% if postImages[2] %}
                              <div class="carousel-item">
                                <img src="../static/uploads/images/{{postImages[2].name}}" class="d-block w-100" alt="...">
                              </div>
                              {% else %}
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="...">
                              </div>
                              {% endif %}
                              {% if postImages[3] %}
                              <div class="carousel-item">
                                <img src="../static/uploads/images/{{postImages[3].name}}" class="d-block w-100" alt="...">
                              </div>
                              {% else %}
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="...">
                              </div>
                              {% endif %}
                              {% if postImages[4] %}
                              <div class="carousel-item">
                                <img src="../static/uploads/images/{{postImages[4].name}}" class="d-block w-100" alt="...">
                              </div>
                              {% else %}
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="...">
                              </div>
                              {% endif %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<a class="btn btn-default" id="btn" href="../main"><i class='material-icons'>undo</i></a>
{% endif %}
<script>
    modalViewHandler = () => {
        
    }
</script>
{% endblock %}