.commentCasing{
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid  rgb(117, 117, 117);
}
.commentTitle{
    padding: 10px;
    height: 25%;
    background-color: #ffe0e0;
    border: 2px double rgb(0,0,0);
    padding: 5px;
}
.commentContent{
    padding: 10px;
    height: 75%;
    background-color: white;
    text-align:left;
}
h1{
    margin: 5px;
    margin-bottom: 0;
    color: black !important; 
    text-align: left;
}
h3{
    margin: 5px;
    margin-top: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
#max{
    color: goldenrod;
}
#bronze{
    color: #CD7F32;
}
#medium{
    color: grey;
}
