.content-section-register{
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
#smallPrint-register{
    color: white;
}
#main-section-register{
    display: block;
    width: 50%;
    margin: auto;
    background-color: rgba(225, 225, 225, 0.1);
}
#body-register{
    background-image: url('https://i.pinimg.com/originals/41/7b/48/417b487ef7dc7281dd0b50f51047b04d.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#legend-register{
    color: white;
}
#message{
    text-align: center;
}
#submitbtn-register{
    background-color: rgba(152,251,152,0.7);
    color: white;
    display: block;
    width: 100%;
}
#submitbtn-register:hover{
    background-color:  rgba(152,251,152,1);
}
