#li_item2 a{
    color: #ffe0e0;
    background-color: rgb(117, 117, 117);
}   
#image{
    width: 60px;
    height: 60px;
}
th, td{
    display: table-cell;
    vertical-align: middle !important;
    height: auto;
    width: auto;
    overflow: scroll;
}
.table-button .material-icons{
    font-size: 25px !important;
    vertical-align: middle !important;
    text-align: center;
}
.table-button{
    display: block;
    width: 40px !important;
    height: 40px !important;
    text-align: right !important;
    color: rgb(117, 117, 117);
}

.button1:hover{
    color: royalblue;
}
.button2:hover{
    color: whitesmoke;
}
.button3:hover{
    color: red;
}
.button4:hover{
    color: green;
}
.button4{
    display: none !important;
}

#material-fix{
    display: inline-block;
    padding: 0 !important;
}

.material-icons{
    margin: 0 !important;
    margin-left: 0;
    margin: none;
}