#li_item2 a{
    color: #ffe0e0;
    background-color: rgb(117, 117, 117);
}   
#image{
    width: 60px;
    height: 60px;
}
th, td{
    display: table-cell;
    vertical-align: middle !important;
    height: auto;
    width: auto;
    overflow: scroll;
}
.table-button .material-icons{
    font-size: 25px !important;
    vertical-align: middle !important;
    text-align: center;
    margin-right: 15px !important;
}
.table-button{
    display: block;
    width: 40px !important;
    height: 40px !important;
    text-align: right !important;
}