.content-section-createPost{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.SinglePost{
    height: 20%;
    padding: 5px;
}
#post_username{
    height: 20%;
    background-color: #ffe0e0;
}
#post_content{
    height: 100%;
}
#cardTitle{
    height: 25%;
    justify-content: space-around;
    text-align: left;
}
#cardDescription{
    height: 75%;
    text-align: left;
}
#smallPrint-createPost{
    color: white;
    font-size: 12px;
}
#main-section-createPost{
    display: inline-block;
    width: 50%;
    margin: 30px;
    background-color: #ffe0e0;
}
#legend-createPost{
    color: rgb(117, 117, 117);
}
#message{
    text-align: center;
}
#updatePostBtn{
    background-color: rgba(152,251,152,0.7);
    color: white;
    display: block;
    width: 100%;
}
#updatePostBtn:hover{
    background-color:  rgba(152,251,152,1);
}
.card{
    width: 50%;
    margin: auto;
    background-color: #ffe0e0 !important;
    color: rgb(117, 117, 117) !important;
    margin: 30px;
    height: 400px;
}
#btn{
    top: 0;
    left: 0;
    position: fixed;
    margin-left: 5px;
    margin-top: 5px;
    width: 10%;
    background-color: #ffe0e0 !important;
    color: rgb(117, 117, 117) !important;
}
#btn:hover{
    color: #ffe0e0 !important;
    background-color: rgb(117, 117, 117) !important;
}
img {
    vertical-align: middle;
}

.container {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 100px;

}

.mySlides {
    width: 30%;
    height: 20%;
    margin: 30px;
    border: 3px solid #ffe0e0;
}
.row{
    height: 200px;
    border: 1px solid #ffe0e0;
    margin-bottom: 100px;
    background-color: black;
}
.test{
    display: flex;
    justify-content: space-between;
}
#postImg{
    width: 100% !important;
    height: 100% !important;
}

.clmn{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.imagesSize{
    width: 100% !important;
    height: 100% !important;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: #ffe0e0 !important;
}
#UploadImageForm{
    display: inline-block;
    justify-content: center;
}
#main-section-editPost{
    display: block;
    width: 50%;
    margin: auto;
    background-color: #ffe0e0;
    margin-top: 9%;
}
@media screen and (max-width: 900px) {
    #main-section-editPost{
        width: 90%;
    }
}
@media screen and (max-width: 1500px) {
    #main-section-Post{
        width: 50%;
        margin-top: 2px;
    }
}
.content-section-editPost{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    height: 450px;
}
#uploadH1{
    text-align: center;
    color: black !important;
    font-size: large !important;
    margin-bottom: 30px;
}
.imgUpload{
    width:100%;
    height:200px;
    margin:auto;
    text-align: center;
}